.genrestitle{
    text-align: center;
    color: rgb(226, 161, 56);
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
}

.genrescont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}