.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards-title{
  text-align: center;
  color: rgb(226, 161, 56);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 200;
}

.cards-container{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
}

.request-status{
  padding: 10px;
  font-size: 35px;
  border-radius: 10px;
  background-color: black;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 58, 4);
  text-align: center;
  font-family:'Segoe UI', sans-serif ;
  font-weight: bolder;
}

.loader-cont{
  position: absolute;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4545458c;
  z-index: 1;
}