.navbar{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(175, 89, 255);
    box-shadow: 0px 1px 10px 1px rgb(175, 89, 255);
}

.navlist{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.imglogo{
    height: 5rem;
    width: 6rem;
}

.navitem{
    color: rgb(155, 107, 200);
    border-right-style: solid;
    border-right-color: rgb(161, 113, 205);
    border-right-width: 1px;
    padding-right: 10px;
    font-family: 'Consolas';
    transition: 200ms;
}
.navitem:hover{
    color: rgb(218, 179, 255);
    border-right-color: rgb(218, 179, 255);
    filter: drop-shadow(0 2px 5px);
}

.navLink{
    text-decoration: none;
}