.searchform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.searchlabel{
    color: rgb(226, 161, 56);
    font-family: Courier New, monospace;
    font-weight: 450;
    font-size: large;
}

.input-button{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.searchinput{
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 20px;
    background-color: rgba(59, 36, 2, 0.61);
    color: rgb(226, 161, 56);
    text-align: center;
}

.searchbutton{
    background-color: rgba(59, 36, 2, 0.61);
    color: rgb(175, 89, 255);
    font-family: Courier New, monospace;
    font-weight: 900;
    height: 2rem;
    width: 8rem;
    border-radius: 20px;
    border-color: rgb(175, 89, 255);
    border-style: solid;
    cursor: pointer;
    transition: 200ms;
}

.searchbutton:hover{
    color: rgb(199, 162, 234);
    border-color: rgb(199, 162, 233);
    box-shadow: 1px 0 20px 5px rgb(155, 107, 200);
}