.create-title{
    text-align: center;
    color: rgb(226, 161, 56);
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
}

.omgcont{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.createform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.inputs-container{
    display: flex;
    gap: 2rem;
}

.button-create{
    background-color: transparent;
    color: rgb(155, 107, 200);
    font-family: Courier New, monospace;
    font-weight: 900;
    height: 5vh;
    width: 6vw;
    border-radius: 1vw;
    border-color: rgb(155, 107, 200);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    transition: 200ms;
}

.button-create:enabled:hover{
    background-color: rgb(199, 162, 234);
    box-shadow: 1px 0 20px 5px rgb(155, 107, 200);
}

.button-create:disabled{
    background: none;
    border-color: white;
    color: white;
    cursor: not-allowed;
}

.create-card-cont{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.395);
    border-radius: 10px;
}

.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-title{
    color: rgb(199, 162, 234);
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
}
