.searchCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 3s;
}

.show-orgCont{
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.homeTitle{
    text-align: center;
    color: rgb(226, 161, 56);
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
}

.cardscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.gamecardlink{
    text-decoration: none;
    cursor: pointer;
}

.pagescontainer{
    display: flex;
    justify-content: center;

}

.pages{
    color: rgb(226, 161, 56);
    text-decoration: none;
    margin: 1vw;
}

.selected{
    color: rgb(226, 161, 56);
    font-weight: 800;
    border: 1px solid rgb(226, 161, 56);
    border-radius: 5px;
    padding: 1px 5px;
}

.pagelink{
    text-decoration: none;
}

.omgcont{
    display: flex;
    justify-content: center;    
}

.empty-games{
    padding: 1rem;
    background-color: black;
    color: white;
    border: 2px solid red;
    border-radius: 20px;
}